html {
  block-size: 100%;
  background-color: var(--surface1);
  color: var(--text1);
  font-family: system-ui, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
